body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    background-color: #16bd2a;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #0b0b0b;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    margin-right: 20px;
}

.product-info {
    text-align: center;
}

.cta-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor:pointer;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}
 